{
  "presets": [
    ["@babel/preset-react", {"modules": false}],
    ["@babel/preset-env", {"modules": false}]
  ],
  "plugins": [
    ["babel-plugin-styled-components", { "pure": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ]
}
